@import url('https://fonts.googleapis.com/css?family=Noticia+Text&display=swap');

* {
    font-family: 'Noticia Text', serif;
    line-height: 1.4;
}


.wrapper {
    margin: 0 auto;
    min-width: 28rem;
}


.masthead {
    height: 375px;
    background-color: #00B6F5;
    background-image: url("../img/header.jpg");
    background-size: cover;
    background-position: center;
    text-align: right;
    padding-top: 30px;
    padding-right: 8px;
}


.masthead h1 {
    font-family: 'Noticia Text', serif;
    text-shadow: 0px 0px 3px #fff;
    color: #fff;
    font-size: 4.5rem;
    margin-top: 250px;
     
}

.buttons {
    text-align: center;
}

button {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 100px;
    background-color:blanchedalmond
    color: black;
}

nav ul {
    padding-left: 0;
}

nav ul li{
    list-style: none;
    margin: 5px 0px;
}

.navigation a {
    text-decoration: none;
    background-color: #464647;
    color: #fff;
    padding: 10px;
    display: block;
    border-radius: 20px;
}

#active-button {
    background-color:grey;
}

h1 {
    color:#c3c3c7;
    font-family: 'Cardo', serif;
}


#content img {
    width: 100%;
}

.social-links {
    text-align: center;
}

.social-links img {
    width: 40px;
    margin: 40px;
}

footer {
    text-align: center;
}

